
@font-face {
    font-family: "digital7";
    src: url("./fonts/digital-7.ttf");
}


* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: digital7;
}

body {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    
}

img {
    display: block;
}

#calculator {
    background-color: grey;
    border: 5px solid black;
    min-width: 30vw;
    min-height: 75vh;
    max-width: 30vw;
    max-width: 75vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "screen screen screen screen"
    "ac signchange back divide"
    "seven eight nine mult"
    "four five six minus"
    "one two three plus"
    "zero zero dot enter";
}

#calculator > div {
    display: inline-block;
    border: 1px solid black;
    background-color:rgba(255, 0, 0, 0.5);
    font-size: 70px;
    margin: 2px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 8px;
}



#calculator > #screen {
    grid-area: screen;
    text-align: right;
    background-color: #fff;
}

#calculator > div.button {
    background-color: rgba(0, 0, 255, 0.5);
}

#calculator > div.button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#calculator > div.btn_operation {
    background-color: rgba(0, 255, 0, 0.5);
}

#btn_0 {
    grid-area: zero;
}

#btn_1 {
    grid-area: one;
}

#btn_2 {
    grid-area: two;
}

#btn3 {
    grid-area: three;
}

#btn_4 {
    grid-area: four;
}

#btn_5 {
    grid-area: five;
}

#btn_6 {
    grid-area: six;
}

#btn_7 {
    grid-area: seven;
}

#btn_8 {
    grid-area: eight;
}

#btn_9 {
    grid-area: nine;
}

#btn_plus {
    grid-area: plus;
}

#btn_minus {
    grid-area: minus;
}

#btn_mult {
    grid-area: mult;
}

#btn_divide {
    grid-area: divide;
}

#calculator > #btn_enter {
    grid-area: enter;
    background-color: red;
}

#calculator > #btn_C {
    background-color: rgba(0, 255, 0, 0.5);
    grid-area: ac;
}

#calculator > #btn_back {
    background-color: rgba(0, 255, 0, 0.5);
    grid-area: back;
}

#calculator > #btn_signchange {
    background-color: rgba(0, 255, 0, 0.5);
    grid-area: signchange;
}

#btn_dot {
    grid-area: dot;
}